* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 400px;
    color: blueviolet;
    margin-bottom: 10px;
}

/* h2 {
    font-size: 80px;
    margin-bottom: 10px;
} */

.container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 60px;
    padding: 20px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    border-radius: 5px;
}

.button:hover {
    background-color:#002ead;
    transition: ;
}